* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 25%;
  height: 200px;
  background: #1f618d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

  .number {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    .acressimo {
      button {
        background: greenyellow;
        border-radius: 17px;
        width: 125px;
        height: 30px;
      }
    }
    .decrecimo {
      button {
        background: crimson;
        border-radius: 17px;
        width: 125px;
        height: 30px;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    width: 60%;
    height: 500px;
    background: #1f618d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    flex-direction: column;

    .number {
      display: flex;
      flex-direction: column;

      button {
        margin-top: 5%;
      }

      input {
        width: 40px;
        height: 30px;
        font-size: 30px;
        align-items: center;
        justify-content: center;
      }
    }

    .output {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
