* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Zen Dots", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

html {
  background: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

section {
  width: 25%;
  height: 200px;
  background: #845ec2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 10px;

  .number {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    .acressimo {
      button {
        background: greenyellow;
        border-radius: 17px;
        width: 125px;
        height: 30px;
      }
    }
    .decrecimo {
      button {
        background: crimson;
        border-radius: 17px;
        width: 125px;
        height: 30px;
        color: #fff;
      }
    }
  }

  .output {
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: auto; */
    margin-bottom: 10%;
  }

  section {
    width: 85%;
    height: 220px;
    background: #845ec2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    flex-direction: column;

    .number {
      display: flex;
      flex-direction: column;

      button {
        margin-top: 5%;
      }

      input {
        width: 65px;
        height: 45px;
        font-size: 25px;
        align-items: center;
        justify-content: center;
      }

      .acressimo {
        button {
          background: greenyellow;
          border-radius: 20px;
          width: 200px;
          height: 40px;
        }
      }

      .decrecimo {
        button {
          border-radius: 20px;
          width: 90px;
          height: 35px;
          color: #fff;
        }
      }
    }

    .output {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .result-other {
    height: 235px;
  }
}
